.container {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10;
}

h1 {
  text-align: center;
  border-radius: 20%;
  background-color: bisque;
  border-color: chartreuse;
  border-style: dashed;
}