.container {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  text-align: center;
  border-radius: 1%;
  background-color: rgb(226, 255, 250);
  border-color: darkgoldenrod;
  border-style: dashed;
}

.radio1 {
  margin-bottom: 20px;
}

.fightInput {
  margin-bottom: 20px;
}

#result {
  display: none;
}

.result {
  display: none;
}